require 'spec_helper'

describe 'integration tests' do
  let(:routes) do
    <%= constantize(config[:name]) %>::Map
  end

  let(:client) { Otis::SoapClient.new(routes, "config/<%= config[:wsdl] %>") }

  <%-  config[:routes].endpoints.each do |route| %>
    describe '<%= route.to_s %>' do
      it 'does something' do
        pending
      end
    end
  <%- end %>

  private
  def call(method, params)
    VCR.use_cassette(method) do
      client.send method, params
    end
  end
end
