require "<%=config[:namespaced_path]%>/version"
require "otis"

<%- config[:constant_array].each_with_index do |c,i| -%>
<%= '  '*i %>module <%= c %>
<%- end -%>

  require '<%= config[:namespaced_path] %>/<%=  config[:models] * "'\n  require '#{config[:namespaced_path]}/" %>'

  Map = Otis::Map.new(
    <%= config[:routes].map %>
  )

<%= '  '*config[:constant_array].size %># Your code goes here...
<%- (config[:constant_array].size-1).downto(0) do |i| -%>
<%= '  '*i %>end
<%- end -%>
